.modal-content
  div [ ng-show='errors' class="alert alert-danger"]
    div ng-repeat="error in errors"
      h4 {{error}}
  form.modal-body name="form" ng-submit="$ctrl.login()"
    fieldset.form-group
      label Email
      input.form-control [ng-model="email" type="email" name="email" required]
    fieldset.form-group
      label Password
      input.form-control [ng-model="password" type="password" name="password" required]
    .modal-footer
      .btn.btn-primary.pull-left [ng-click="$ctrl.facebook()"] Facebook
      .btn.btn-primary [ng-click="$ctrl.register()" ng-disabled="form.$invalid"] Register
      .btn.btn-primary [ng-click="$ctrl.login()" ng-disabled="form.$invalid"] Log In
