.comment-controller
  .comments-list data-ng-if='$ctrl.task.comments.length'
    .comment data-ng-repeat='comment in $ctrl.task.comments'
      a.comment-delete [
        href=''
        data-ng-click='$ctrl.delete($ctrl.task, comment)'
        data-ng-confirm='Do you want to remove this comment?' ] &times;

      ' {{ comment.text }}

      ul.attachments data-ng-if='comment.attachments.length'
        li data-ng-repeat='attachment in comment.attachments'
          span.glyphicon.glyphicon-file
          a href='{{attachment.file.url}}' target='_blank' {{attachment.file.name}}
          '  ({{attachment.file.size | bytes}})

  .form-group
    textarea.form-control.comment-field [
      data-ng-model='$ctrl.task.comment'
      name='comment'
      rows='3'
      data-ng-enter='$ctrl.add($ctrl.task)'
      placeholder='Start typing here to write comment...' ]

  .text-right.pull-right
    button.btn.btn-success.btn-sm.submit-comment [
      data-ng-disabled='!$ctrl.task.comment.length || uploading'
      data-ng-click='$ctrl.add($ctrl.task)' ] Submit comment

  button.btn.btn-primary.btn-sm.attach-file [
    data-ng-disabled='uploading'
    ngf-select=''
    ngf-change='upload($files)'
    ngf-multiple='true' ] Attach file

  span.loading data-ng-if='uploading'

  ul.attachments data-ng-if='attachments.length'
    li ng-repeat='attachment in attachments'
      span.glyphicon.glyphicon-file
      a href='{{attachment.file.url}}' target='_blank' {{attachment.file.name}}
      '  ({{attachment.file.size | bytes}})
      a href='' data-ng-click='$ctrl.removeAttachment(attachment)' remove
