.project-controller
  .projects data-ng-repeat='project in $ctrl.projects'

    .project
      .project-header data-hoverable=''

        .project-field
          .project-error data-ng-show='project.errors.length'
            .error data-ng-repeat='error in project.errors' {{ error | capitalize }}

          h2 data-ng-if='!project.editing'
            | {{project.name}}

          form.project-form name='project.form' data-ng-if='project.editing' novalidate=''
            input.project-name-field [
              name='name'
              type='text'
              autocomplete='off'
              required=''
              data-ng-model='project.name'
              data-ng-enter='$ctrl.save(project)'
              data-ng-blur='$ctrl.save(project)'
              data-escapable='$ctrl.cancel(project)'
              data-auto-focus='' ]

        .control
          ul.project-control
            li: a.edit.edit-project href='' data-ng-click='$ctrl.edit(project)'
            li: a.delete.delete-project [
              href=''
              data-ng-confirm-click='$ctrl.delete(project)'
              data-ng-confirm-message='Do you want to remove this project?' ]
      task-list project="project" on-task-click="$ctrl.deactivateTasksExept(task)"

  .row
    .col-xs-12.footer
      a.btn.btn-lg.btn-primary.create-project [
        href=''
        data-ng-disabled='editing'
        data-ng-click='$ctrl.create()' ]

        span.glyphicon.glyphicon-plus
        '  Add TODO List
