.task-controller
  .create-task-header data-ng-if='$ctrl.project.id'

    form.create-task-form name='$ctrl.project.task_form'
      .create-task-in.input-group
        .task-error data-ng-show='errors.length'
          .error data-ng-repeat='error in errors' {{ error | capitalize }}

        input.create-task-name-field.form-control [
          name='task_name'
          type='text'
          autocomplete='off'
          required=''
          data-ng-model='$ctrl.project.task_name'
          data-ng-enter='$ctrl.add($ctrl.project)'
          placeholder='Start typing here to create a task...' ]

        .input-group-btn
          a.add-task.btn.btn-success [
            href=''
            data-ng-disabled='!$ctrl.project.task_name'
            data-ng-click='$ctrl.add($ctrl.project)' ] Add task

  .task-list
    table.tasks
      tbody data-as-sortable='$ctrl.dragControlListeners' data-ng-model='$ctrl.project.tasks'

        tr.task-item [
          data-ng-repeat='task in $ctrl.project.tasks'
          data-ng-class='{ "active": task.active }'
          data-as-sortable-item=''
          data-hoverable='' ]

          td.task-status
            input [
              type='checkbox'
              name='status'
              data-ng-model='task.done'
              data-ng-change='$ctrl.setDone(task)' ]

          td.task-name
            .left-border
              .task-name-text [
                data-ng-if='!task.editing'
                data-ng-class='{ "task-done": task.done }'
                data-ng-click='$ctrl.onNameClick(task)' ]
                  span.label.label-danger.deadline data-ng-if='task.deadline'
                    ' {{ task.deadline | date: 'MMM d, y h:mm a' }}

                  ' {{task.name}}

              textarea.task-name-field [
                name='name'
                rows='1'
                data-ng-if='task.editing'
                data-ng-model='task.name'
                data-ng-enter='$ctrl.save(task)'
                data-ng-blur='$ctrl.save(task)'
                data-escapable='$ctrl.cancel(task)'
                msd-elastic
                data-auto-focus=''
                required='' ]

              .task-error data-ng-show='task.errors.length'
                .error data-ng-repeat='error in task.errors' {{ error | capitalize }}

              .task-body data-ng-show='task.active'

                .deadline-dropdown.dropdown
                  button.btn.btn-default.btn-xs.dropdown-toggle.set-deadline [
                    id='dropdown-{{task.id}}'
                    data-toggle='dropdown' ]

                    span.glyphicon.glyphicon-time
                    span data-ng-if='!task.deadline'  Set deadline
                    span data-ng-if='task.deadline'  Change deadline

                  span data-ng-if='task.deadline'
                    '  or

                    button.btn.btn-default.btn-xs.cancel-deadline [
                      type='button'
                      data-ng-click='$ctrl.setDeadline(task, null)' ]

                      span.glyphicon.glyphicon-remove
                      '  Cancel

                  .dropdown-menu
                    datetimepicker [
                      data-ng-model='task.deadline'
                      data-on-set-time='$ctrl.setDeadline(task, newDate)'
                      data-datetimepicker-config= "datetimepickerConfig(task)"
                      ]

                comment-list task="task"

          td.task-control
            .control
              ul
                li: a.sort.sort-task href='' data-as-sortable-item-handle=''
                li: a.edit.edit-task href='' data-ng-click='$ctrl.edit(task)'
                li: a.delete.delete-task [
                  href=''
                  data-ng-confirm-click='$ctrl.delete(task)'
                  data-ng-confirm-message='Do you want to remove this task?' ]
