doctype html
html ng-app="app"
  head
    title Simple TODO List
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'

    base href="/"
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"

    javascript:
      var ROOT_URL = '#{root_url}'
  body ng-cloak=''
    .container id='main-container'
      .row
        .col-xs-8.col-xs-offset-2
          div ng-include='"header.html"'
          ui-view

